<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>BlueEdTech: Projeto Pokédex</title>
  </head>
  <body>
    <header>
      <!--  <nav> É utilizado quando precisamos representar um agrupamento de links de navegação, que, por sua vez, são criados com os elementos <ul>, <li> e <a>. -->
      <nav>
        <img
          src="/img/pokedex.jpg"
          class="img"
          alt="Logo tradicional Pokédex"
        />
        <!-- <ul> É lista não ordenada -->
        <ul>
          <li>
            <!-- <a> É uma âncora: usado para ligar a outro recurso web -->
            <a href="/">Home</a>
            <!-- o atributo HREF é especifica o destino do link:-->
          </li>
          <li>
            <a href="/cadastro">Cadastro</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="index">
      <%pokedex.forEach((pokedex,find) => {%>
      <section class="ordem">
        <article class="detalhes_carta">
          <a>
            href="http://"
          </a>

        </article>
      </section>
      <%})%>
    </main>
  </body>
</html>
